@(document: Documents, goods_receipt: List[Goods_receipt])

@main("Информация о документе") {

<H1 class="page-title">Информация о документе @document.id</H1>

  <br>

  <ul>
  @for(good_receipt <- goods_receipt) {
    <li>
        <b>Продан товар: </b>@good_receipt.nomenclature.name <br>
        <b>Количество: </b>@good_receipt.count  <br>
        <b>Цена за штуку: </b>@good_receipt.price  <br>
    </li>
    <hr>
    }
  </ul>

  <p><a href='@routes.DocumentsController.index()'>Назад к документам</a></p>
}