@(nomenclatures: List[Nomenclatures])

@main("Номенклатура") {

<H1 class="page-title">Номенклатуры</H1>

    <ul>
    @for(nomenclature <- nomenclatures) {
        <li>
            <H3>@nomenclature.name</H3>
            <a href='@routes.NomenclaturesController.show(nomenclature.id)'>
                <input type="button" value="Остатки по товару">
            </a>
        </li>
        <br>
        <hr>
    }
    </ul>

<br>

<p><a href='@routes.NomenclaturesController.create()'><input type="button" value="Добавить номенклатуру"></a></p>

    <p><a href='@routes.Application.index()'>На главную</a></p>
}
